<html lang="fa" dir="rtl">
	{% with %}
    {% set title="صفحه اصلی" %}
    {% include "header.html"%}
	{% endwith %}
	<body>
		{% include "navbar.html" %}
		<div class="container-fluid">
			{% include "sidebar.html" %}
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 mb-5" style="">
				<div style="display: flex; flex-direction: row; align-items: center;">
					<h2 class="pb-3 mt-4">صفحه اصلی</h2>
				</div>
				<hr>
				{% if msg != "" %}
					<div class="alert alert-danger" role="alert">
						تغییر پیکربندی انجام نشد. لطفا پیغام خطای زیر را بررسی کنید:
					</div>
					<pre class="index-alert"><code>{{ msg }}</code></pre>
				{% else %}
					<div class="alert text-white bg-primary bg-gradient" role="alert">
						<b>{{ session['username'] }}</b> گرامی خوش آمدید. شما با آیپی <b>{{ session['admin_ip'] }}</b> وارد شده اید.
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="card bg-light mb-3">
								<div class="card-header">مصرف Ram</div>
								<div class="card-body">
									<h5 class="card-title text-center">
									{{ session['used_ram'] }} / {{ session['total_ram'] }}</h5>
								</div>
							</div>
						</div>  
						<div class="col-sm-4">
							<div class="card bg-light mb-3">
								<div class="card-header">مصرف Cpu</div>
								<div class="card-body">
									<h5 class="card-title text-center">
									{{ session['cpu_usage'] }} از {{ session['cpu_capacity'] }} هسته</h5>
								</div>
							</div>
						</div>  
						<div class="col-sm-4">
							<div class="card bg-light mb-3">
							<div class="card-header">مصرف Hard</div>
								<div class="card-body">
									<h5 class="card-title text-center">
										{{ session['hard_info'] }}
									</h5>
								</div>
							</div>
						</div>
					</div>
					<pre class="index-alert mt-1"><code></code></pre>
				{% endif %}
				{% if conf == [] %}
					<p class="text-muted">شما هنوز هیچ پیکربندی WireGuard ندارید. لطفاً پوشه پیکربندی را بررسی کنید یا آن را در "تنظیمات" تغییر دهید. به طور پیش فرض پوشه "/etc/wireguard" است.</p>
				{% endif %}
				{% for i in conf%}
					<div class="card mt-3 conf_card">
						<div class="card-body">
							<div class="row">
								<div class="col card-col">
									<small class="text-muted"><strong>نام کانفیگ</strong></small>
									<a href="/configuration/{{i['conf']}}" class="conf_link">
										<h6 class="card-title" style="margin:0 !important;"><samp>{{i['conf']}}</samp></h6>
									</a>
								</div>
								<div class="col card-col">
									<small class="text-muted"><strong>وضعیت</strong></small>
									<h6 style="text-transform: uppercase; margin:0 !important; direction: ltr;">{{i['status']}} <span class="dot dot-{{i['status']}}" style="margin: 0 0 0 8px;"></span></h6>
								</div>
								<div class="col-md card-col" style="margin-left: 20px;">
									<small class="text-muted"><strong>کلید عمومی</strong></small>
									<h6 style="margin:0 !important;" class="public_key_mobile"><samp>{{i['public_key']}}</samp></h6>
								</div>
								<div class="col-md index-switch text-lg-center" style="margin-top: 5px; margin-right: 5px;">
									{% if i['checked'] == "checked" %}
										<a href="#" id="{{i['conf']}}" {{i['checked']}} class="switch text-primary tt"><i class="bi bi-toggle2-on"></i></a>
									{% else %}
										<a href="#" id="{{i['conf']}}" {{i['checked']}} class="switch text-secondary"><i class="bi bi-toggle2-off"></i></a>
									{% endif %}
									<div class="spinner-border text-primary" role="status" style="display: none">
										<span class="sr-only"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				{%endfor%}
			</main>
		</div>
		{% include "tools.html" %}
	</body>
	{% include "footer.html" %}
	<script>
		$('.switch').on("click", function() {
			$(this).siblings($(".spinner-border")).css("display", "inline-block")
			$(this).remove()
			location.replace("/switch/"+$(this).attr('id'))
		});
		$(".sb-home-url").addClass("active");
		$(".card-body").on("click", function(handle){
			if ($(handle.target).attr("class") !== "bi bi-toggle2-off" && $(handle.target).attr("class") !== "bi bi-toggle2-on") {
				window.open($(this).find("a").attr("href"), "_self");
			}
		})
	</script>
</html>
