@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IRANSansWeb(NoEn).eot');
    src: url('../fonts/IRANSansWeb(NoEn).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('../fonts/IRANSansWeb(NoEn).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
         url('../fonts/IRANSansWeb(NoEn).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../fonts/IRANSansWeb(NoEn).ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/IRANSansWeb(NoEn)_Bold.eot');
    src: url('../fonts/IRANSansWeb(NoEn)_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('../fonts/IRANSansWeb(NoEn)_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
         url('../fonts/IRANSansWeb(NoEn)_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../fonts/IRANSansWeb(NoEn)_Bold.ttf') format('truetype');
}

body {
    font-size: 1rem;
    font-family: "IRANSans", sans-serif;
    text-decoration: rtl;
    text-align: right;
}

a { text-decoration:none;}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
    transition: 0.2s cubic-bezier(0.82, -0.07, 0, 1.01);
}

.nav-link:hover {
    padding-left: 30px;
    background-color: #dfdfdf;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #0F52BA;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .95rem;
    text-transform: uppercase;
}

.navbar-brand {
    text-align: right;
    padding: 7px 0 8px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    left: 1rem;
}

.navbar-logo {
    float: right;
    width: 21px;
    margin: 2px 0 0 8px;
}

.form-control{
    transition: all 0.2s ease-in-out;
}

.form-control:disabled{
    cursor: not-allowed;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.sb-update-url {
    color: #28a745!important;
}

.dot{
    width: 10px;
    height: 10px;
    border-radius: 50px;
    display: inline-block;
    margin-left: 10px;
}

.dot-running{
    background-color: #28a745!important;
    box-shadow: 0 0 0 0.2rem #28a74545;
}

.h6-dot-running{
    margin-left: 0.3rem;
}

.dot-stopped{
    background-color: #6c757d!important;
}

.dot-blue{
    width: 7px;
    height: 7px;
    background-color: #0096FF!important;
    box-shadow: 0 0 0 0.2rem #dfdfdf;
}

.dot-red{
    background-color: #C70039!important;
    box-shadow: 0 0 0 0.2rem #28a74545;
}

.card-running{
    border-color: #28a745;
}

.info h6{
    line-break: anywhere;
    transition: 0.2s ease-in-out;
}

.info .row .col-sm{
    display: flex;
    flex-direction: column;
}

.info .row .col-sm small{
    display: flex;
}

.info .row .col-sm small strong:last-child(1){
    margin-left: auto !important;
}

.btn-control{
    border: none !important;
    padding: 0 1rem 0 0;
}

.btn-control:active, .btn-control:focus{
    background-color: transparent !important;
    border: none !important;
    box-shadow: none;
}

.btn-qrcode-peer{
    padding: 0 !important;
}

.btn-qrcode-peer:active, .btn-qrcode-peer:hover{
    transform: scale(0.9) rotate(180deg);
    border: 0 !important;
}

.btn-download-peer:active, .btn-download-peer:hover{
    color: #17a2b8 !important;
    transform: translateY(5px);
}

.share_peer_btn_group .btn-control{
    margin: 0 0 0 1rem;
    padding: 0 !important;
    transition: all 0.4s cubic-bezier(1, -0.43, 0, 1.37);
}

.btn-control:hover{
    background: white;
}

.btn-delete-peer:hover{
    color: #dc3545;
}

.btn-setting-peer:hover{
    color:#007bff
}

.btn-download-peer:hover{
    color: #17a2b8;
}

.login-container{display: block;margin-top: 22vh;max-width: 100% !important;text-align: center;}

.switch{
    font-size: 2rem;
}
.switch:hover{
    text-decoration: none
}

.btn-group-label:hover{
    color: #007bff;
    border-color: #007bff;
    background: white;
}

.peer_data_group {
    text-align: left;
    margin-top: 5px;
}

.index-switch{
    text-align: right;
}

main{
    margin-bottom: 3rem;
    float:left;
}

.peer_list{
    margin-bottom: 7rem
}

.btn-manage-group{
    z-index: 99;
    position: fixed;
    bottom: 2.5rem;
    left: 1.7rem;
    display: block;
    text-align:left;
    width: auto;
}

.btn-manage-group .setting_btn_menu{
    position: absolute;
    top: -124px;
    background-color: white;
    padding: 1rem 0;
    left: 0;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    border-radius: 10px;
    min-width: 200px;
    display: none;
    transform: translateY(-30px);
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.58, 0.03, 0.05, 1.28);
    text-align: right;
}

.btn-manage-group .setting_btn_menu.show{
    display: block;
}

.setting_btn_menu.showing{
    transform: translateY(0px);
    opacity: 1;
}

.setting_btn_menu a{ 
    direction: ltr;
    display: flex;
    padding: 0.5rem 1rem;
    transition: all 0.1s ease-in-out;
    font-size: 1rem;
    text-align: right;
    cursor: pointer;
}
.setting_btn_menu a:hover{
    background-color: #efefef;
    text-decoration: none;
}

.setting_btn_menu a i{
    margin-right: auto !important;
}

.add_btn {
    height: 54px;
    z-index: 99;
    border-radius: 100% !important;
    padding: 11px 14px 14px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-right: 0.4rem;
    font-size: 1.5rem;
}

.setting_btn{
    height: 54px;
    z-index: 99;
    border-radius: 100px !important;
    padding: 11px 14px 14px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font-size: 1.5rem;
}


@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.rotating::before {
    -webkit-animation: rotating 0.75s linear infinite;
    -moz-animation: rotating 0.75s linear infinite;
    -ms-animation: rotating 0.75s linear infinite;
    -o-animation: rotating 0.75s linear infinite;
    animation: rotating 0.75s linear infinite;
}

.peer_private_key_textbox_switch{
    position: absolute;
    right: 2rem;
    transform: translateY(-28px);
    font-size: 1.2rem;
    cursor: pointer;
}

#peer_private_key_textbox, #private_key, #public_key{
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.progress-bar{
    transition: 0.3s ease-in-out;
} 

.key{
    font-size: 0.8rem;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.key:hover{
    color: #007bff;
}

.card{
    border-radius: 10px;
}

.peer_list .card .button-group{
    height: 22px;
}

.form-control{
    border-radius: 10px;
}

.btn{
    border-radius: 8px;
}

#username, #password {
    margin-top: 1.4rem;
    padding: 12px 10px;
    height: inherit;
}

label[for="username"], label[for="password"]{
    font-size: 1rem;
    margin: 0 !important;
    transform: translateY(30px) translateX(16px);
    padding: 0;
}

.modal-content{
    border-radius: 10px;
}


.tooltip-inner{
    font-size: 0.8rem;
}

@-webkit-keyframes loading {
    0%{
        background-color: #dfdfdf;
    }
    50%{
        background-color: #adadad;
    }
    100%{
        background-color: #dfdfdf;
    }
}
@-moz-keyframes loading {
    0%{
        background-color: #dfdfdf;
    }
    50%{
        background-color: #adadad;
    }
    100%{
        background-color: #dfdfdf;
    }
}

.conf_card{
    transition: 0.2s ease-in-out;
}

.conf_card:hover{
    border-color: #007bff;
    cursor: pointer;
}

.info_loading{
    display: inline-block;
    animation: loading 2s infinite ease-in-out;
    border-radius: 5px;
    height: 19px;
    transition: 0.3s ease-in-out;
}

#conf_status_btn{
    transition: 0.2s ease-in-out;
}

#conf_status_btn.info_loading{
    height: 38px;
    border-radius: 5px;
    animation: loading 3s infinite ease-in-out;
}

#qrcode_img img{
    width: 100%;
}

#selected_ip_list .badge, #selected_peer_list .badge{
    margin: 0.1rem
}

#add_modal.ip_modal_open{
    transition: filter 0.2s ease-in-out;
    filter: brightness(0.5);
}

#delete_bulk_modal .list-group a.active{
    background-color: #dc3545;
    border-color: #dc3545;
}

#selected_peer_list{
    max-height: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.no-response{
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000000ba;
    z-index: 10000;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.no-response.active{
    display: flex;
}

.no-response.active.show{
    opacity: 100;
}

.no-response .container > *{
    text-align: center;
}

.no-responding{
    transition: all 1s ease-in-out;
    filter: blur(10px);
}

pre.index-alert{
    margin-bottom: 0;
    padding: 1rem;
    background-color: #343a40;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-top: 1rem;
    color: white;
}

.login-box {
    width: 364px;
    margin: 0 auto;
    padding: 60px 32px;
    border-radius: 2rem;
    background: rgba(68,68,68,0.2);
}

.login-box .form-control {
    border: none !important;
}

.login-btn {
    width: 100%;
    margin-top: 3rem;
    padding: 7px 0 12px;
    color: #fff;
    font-size: 20px;
    font-family: IRANSans;
    border: none;
    border-radius: 14px;
    background: rgba(0,0,0,0.6);
}

.btn-success, .btn-danger {
    padding: 7px 14px 8px !important;
}

.dashboard-version {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	margin-bottom: 2rem
}

.login-container-fluid{
	display: flex;
	height: calc( 100% - 340px );
	align-items: center;
}

.login-box img {
    width: 100px;
    margin-bottom: 2rem;
    border-radius: 100%;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 500px) {
    .public_key_mobile {
        font-size: 0.7rem; 
    }
    .btn-manage-group{
        bottom: 2rem;
        left: 1rem;
    }
    .display_mode_mobile{
        display: none;
    }
    #search_peer_textbox {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .add_btn{
        bottom: 1.5rem !important;
    }
    .peer_list{
        margin-bottom: 7rem !important;
    }
    .peer_data_group{
        text-align: left;
    }
    .login-box {
        width: 100% !important;
    }
    .login-container {
        margin: 80% 0 0 !important;
    }
}

@media (max-width: 992px){
    .card-col{
        margin-bottom: 1rem;
    }
}
