<!-- Persianized and developed by A3is in Opiran - [https://github.com/opiran-club] -->
<!doctype html>
<html lang="fa" dir="rtl">
{% with %}
    {% set title="تنظیمات" %}
    {% include "header.html" %}
{% endwith %}
<body>
{% include "navbar.html" %}
<div class="container-fluid">
    {% include "sidebar.html" %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="setting-container mt-4">
            {% if message != "" %}
                <div class="alert alert-{{ status }}" role="alert">
                    {{ message }}
                </div>
            {% endif %}
            <h2  class="pb-3 mt-4">تنظیمات</h2>
            <hr>
            {% if required_auth == "true" %}
                <div class="card mb-3">
                    <h6 class="card-header">تنظیمات پیش فرض :</h6>
                    <div class="card-body">
                        <form action="/update_peer_default_config" method="post">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="peer_global_DNS">DNS</label>
                                        <input type="text" class="form-control mb-4" id="peer_global_DNS"
                                               name="peer_global_DNS"
                                               value="{{ peer_global_DNS }}" dir="ltr" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="peer_endpoint_allowed_ip">Peer Endpoint Allowed IPs</label>
                                        <input type="text" class="form-control mb-4" id="peer_endpoint_allowed_ip"
                                               name="peer_endpoint_allowed_ip"
                                               value="{{ peer_endpoint_allowed_ip }}" dir="ltr" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="peer_mtu">MTU</label>
                                        <input type="text" class="form-control mb-4" id="peer_mtu"
                                               name="peer_mtu"
                                               value="{{ peer_mtu }}" dir="ltr" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="peer_keep_alive">Persistent Keepalive</label>
                                        <input type="text" class="form-control mb-4" id="peer_keep_alive"
                                               name="peer_keep_alive"
                                               value="{{ peer_keepalive }}" dir="ltr" required>
                                    </div>
                                    <div class="col-sm-12">
                                        <label for="peer_remote_endpoint"><strong>Peer Remote Endpoint (در صورت تانل ، آیپی سرور ایران وارد شود.)</strong></label>
                                        <input type="text" class="form-control mb-4" id="peer_remote_endpoint"
                                               name="peer_remote_endpoint"
                                               value="{{ peer_remote_endpoint }}" dir="ltr" required>
                                    </div>
                                </div>
                                <button class="btn btn-success" type="submit">بروزرسانی تنظیمات پیش فرض</button>
                            </div>
                        </form>
                    </div>
                </div>
                <hr>
                <div class="card mb-3">
                    <h6 class="card-header">مسیر کانفیگ وایرگارد :</h6>
                    <div class="card-body">
                        <form action="/update_wg_conf_path" method="post" class="update_wg_conf_path">
                            <div class="form-group">
                                <label for="wg_conf_path">مسیر :</label>
                                <input type="text" class="form-control mb-2" id="wg_conf_path" name="wg_conf_path"
                                       value="{{ wg_conf_path }}" dir="ltr" required>
                                <p class="text-muted">به یاد داشته باشید که <code>/</code> را در انتهای مسیر خود حذف کنید. به عنوان مثال : <code>/etc/wireguard</code>
                                </p>
                                <button class="btn btn-danger change_path">بروزرسانی مسیر و راه اندازی پنل</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card mb-3">
                    <h6 class="card-header">حساب کاربری :</h6>
                    <div class="card-body">
                        <form action="/update_acct" method="post">
                            <div class="form-group">
                                <label for="usernames">نام کاربری :</label>
                                <input type="text" class="form-control mb-4 mr-2" id="username" name="username"
                                       value="{{ session['username'] }}" dir="ltr" required  pattern="[A-Za-z0-9]{1,20}">
                                <button type="submit" class="btn btn-danger">بروزرسانی نام کاربری</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card mb-3">
                    <h6 class="card-header">تغییر رمز عبور : </h6>
                    <div class="card-body">
                        <form action="/update_pwd" method="post">
                            <div class="form-group">
                                <label for="currentpass">رمز عبور فعلی :</label>
                                <input type="password" class="form-control mb-2" id="currentpass" name="currentpass" dir="ltr" required>
                                <label for="newpass">رمز جدید :</label>
                                <input type="password" class="form-control mb-2" id="newpass" name="newpass" dir="ltr" required>
                                <label for="repnewpass">تکرار رمز جدید :</label>
                                <input type="password" class="form-control mb-4" id="repnewpass" name="repnewpass" dir="ltr" required>
                                <button type="submit" class="btn btn-danger">بروزرسانی رمز عبور</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
            <div class="card">
                <h6 class="card-header">تنظیمات پنل :</h6>
                <div class="card-body">
                    <form action="/update_app_ip_port" method="post" class="update_app_ip_port">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm">
                                    <label for="app_ip">آیپی پنل :</label>
                                    <input type="text" class="form-control mb-2" id="app_ip" name="app_ip" value="{{ app_ip }}" dir="ltr" required>
                                    <p><small class="text-danger mb-4">0.0.0.0 به این معنی است که هر آدرس IP می تواند به سرور دسترسی داشته باشد.</small></p>
                                </div>
                                <div class="col-sm">
                                    <label for="app_port">پورت پنل :</label>
                                    <input type="text" class="form-control mb-4" id="app_port" name="app_port"
                                           value="{{ app_port }}" dir="ltr" required>
                                </div>
                            </div>
                            <button type="button" class="btn btn-danger confirm_modal" data-toggle="modal"
                                    data-target="#confirmModal">بروزرسانی پیکربندی و راه اندازی پنل
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <!-- Modal -->
    <div class="modal fade" id="confirmModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">تایید تنظیمات پنل</h5>
                </div>
                <div class="modal-body">
                    <small>آی پی فعلی پنل :</small>
                    <p>{{ app_ip }}</p>
                    <small style="font-weight: bold" class="text-bold">آی پی جدید پنل :</small>
                    <p class="app_new_ip text-bold text-danger" style="font-weight: bold"></p>
                    <small>پورت فعلی پنل :</small>
                    <p>{{ app_port }}</p>
                    <small style="font-weight: bold" class="text-bold">پورت جدید پنل :</small>
                    <p class="app_new_port text-bold text-danger" style="font-weight: bold"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger confirm_restart">تایید و راه اندازی پنل</button>
                    <button type="button" class="btn btn-secondary cancel_restart" data-dismiss="modal">لغو</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "tools.html" %}
</body>

{% include "footer.html" %}
<script>
    $(".sb-settings-url").addClass("active")
    $(".confirm_modal").click(function () {
        $(".app_new_ip").html($("#app_ip")[0].value)
        $(".app_new_port").html($("#app_port")[0].value)
    })

    $(".confirm_restart").click(function () {
        $(".cancel_restart").remove()
        countdown = 7;
        $.post('/update_app_ip_port', $('.update_app_ip_port').serialize())
        url = $("#app_ip")[0].value + ":" + $("#app_port")[0].value;
        $(".confirm_restart").attr("disabled", "disabled")
        setInterval(function () {
            if (countdown === 0) {
                window.location.replace("http://" + url);
            }
            $(".confirm_restart").html("Redirecting you in " + countdown + " seconds.")
            countdown--;
        }, 1000)
    });

    $(".change_path").click(function () {
        $(this).attr("disabled", "disabled");
        countdown = 5;
        setInterval(function () {
            if (countdown === 0) {
                location.reload()
            }
            $(".change_path").html("Redirecting you in " + countdown + " seconds.")
            countdown--;
        }, 1000)
        $.post('/update_wg_conf_path', $('.update_wg_conf_path').serialize())

    });

</script>
</html>
